<h1>All users</h1>

<div class="flickr_pagination">
  <%= will_paginate @users, :container => false %>
</div>
<%= render 'user' %>
<div class="flickr_pagination">
  <%= will_paginate @users, :container => false %>
</div>
