<div>
  <% flash.each do |name, msg| %>
    <% if name == "notice" %>
      <div style="color:blue;">
        <%= msg %>
      </div>
    <% else %>
      <div style="color:red;">
        <%= msg %>
      </div>
    <% end %>
  <% end %>
</div>
